@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root{
	--mobileWidth: 375px;
	--desktopWidth:  1440px;

}

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:  white;
	font-family: 'Spartan', sans-serif;
	font-size: 32px;
}

html{
	background: hsl(210, 4%, 15%);
}
h1{

}

body{
	/*theme 1 colors*/
	--main-bg: hsl(222, 26%, 31%); /*  --main-bg */
	--tog-keypad-bg: hsl(223, 31%, 20%); /* toggle, keypad bg */
	--screen-bg: hsl(224, 36%, 15%); /* screen bg */
	
	--key-bg: hsl(225, 21%, 49%); /* key bg del reset*/
	--key-shadow: hsl(224, 28%, 35%); /* key shadow */
	
	--tog-btn-red-key: hsl(6, 63%, 50%); /* key bg, toggle */
	--red-key-shadow: hsl(6, 70%, 34%); /* key shadow */
	
	--key-bg2: hsl(30, 25%, 89%); /* key bg numbers and operators*/
	--key-shadow2: hsl(28, 16%, 65%); /* key shadow */
	
	--text1:  hsl(221, 14%, 31%); /* text */
	--text2: hsl(0,0%,100%); /* text white*/
	--text3: hsl(0,0%,100%); /* text white*/;
	--headtext: hsl(0,0%,100%);

	position: relative;
	display:  flex;
	width: var(--mobileWidth);
	margin:  0 auto;
/*	background: var(--main-bg);*/
}

body.theme2{
/*background*/
	--main-bg: hsl(0, 0%, 90%); /* (main background) lightGray*/
	--tog-keypad-bg: hsl(0, 5%, 81%); /* (toggle background, keypad background) grayish red */
	--screen-bg: hsl(0, 0%, 93%); /* (screen background) --veryLightGray*/
/*keys*/
	--key-bg: hsl(185, 42%, 37%); /*(key background) darkModerateCyan*/
	--key-shadow : hsl(185, 58%, 25%); /* (key shadow) veryDarkCyan*/

	--tog-btn-red-key:  hsl(25, 98%, 40%); /* (key background, toggle) orange*/
	--red-key-shadow: hsl(25, 99%, 27%); /*- Dark orange (key shadow)*/

	--key-bg2: hsl(45, 7%, 89%); /* (key background) Light grayish yellow*/
	--key-shadow2:  hsl(35, 11%, 61%);/*; Dark grayish orange (key shadow)*/

/*Text*/
	--text1: hsl(60, 10%, 19%); /*Very dark grayish yellow:*/
	--text2: hsl(0, 0, 100%);/*White */
	--text3: hsl(0, 0, 100%);/*White */;
	--headtext: hsl(60, 10%, 19%);
}

body.theme3{
/* background */
	--main-bg: hsl(268, 75%, 9%); /* Very dark violet (main background) */
	--tog-keypad-bg: hsl(268, 71%, 12%); /* Very dark violet (toggle background, keypad background, screen background) */
	--screen-bg:  hsl(268, 71%, 12%); /* screen background */
/*keys*/
	--key-bg: hsl(281, 89%, 26%);/* Dark violet (key background) */
	--key-shadow: hsl(285, 91%, 52%);	/* Vivid magenta (key shadow) */

	--tog-btn-red-key: hsl(176, 100%, 44%); /*Pure cyan (key background, toggle)*/
	--red-key-shadow: hsl(177, 92%, 70%) ;/* Soft cyan (key shadow) */

	--key-bg2: hsl(268, 47%, 21%); /* Very dark violet (key background)*/
	--key-shadow2: hsl(290, 70%, 36%)  ;/* Dark magenta (key shadow)*/
/*Text*/
	--text1: hsl(52, 100%, 62%) ;/*Light yellow*/
	--text2: hsl(198, 20%, 13%) ;/*Very dark blue*/
	--text3: hsl(0, 0, 100%) ;/*White (text)*/
	--headtext: hsl(52, 100%, 62%) ;/*Light yellow*/;
}

.calculator{
	position:  relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100vh;
	background: var(--main-bg);
	padding:  1rem .5rem .5rem .5rem;
}

.calc-head{
	position: relative;
	display: flex;
	justify-content: center;
	max-height: 2rem;
}

.calc-title{
	width: 40%;
	color:  var(--headtext);
}

.theme-set{
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	width:  60%;
	margin-left:  2rem;

}

.theme-set p{
	grid-column: 1;
	grid-row:  2;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: .4rem;
	font-size: .5rem;
	font-weight: 600;
	margin-right: .25rem;
	color:  var(--headtext);
}

.choices{
	grid-column: 2;
	grid-row: 1;
	position: relative;
	display: flex;
	justify-content: center;
	gap: .75rem;
	margin-bottom: .2rem;
	width: 100%;

}
.choices label{
	font-size: .5rem;
	cursor: pointer;
	color:  var(--headtext);
}

.toggles{
	grid-column: 2;
	grid-row: 2;
	position: relative;
	display: flex;
	background: var(--tog-keypad-bg);
	border-radius:  1rem;
	width: 100%;
}

.toggles input{
	display: none;
}

.checkmark{
	display: block;
 	min-height:  18px;
 	width:  18px;
 	border-radius: 50%;
 	background: var(--tog-btn-red-key);
 	margin: .2rem;
 	opacity: 0;
 }

 #theme1:checked ~ #checkmark1{
 	opacity: 1;
 	min-height: 18px;
 }

  #theme2:checked ~ #checkmark2{
 	opacity: 1;
 }

  #theme3:checked ~ #checkmark3{
 	opacity: 1;
 }


 .screen{
 	position: relative;
 	float:  right;
 	text-align: right;
 	height: 3rem;
 	background: var(--screen-bg);
 	resize: none;
 	border-radius: .5rem;
 	border:  none;
 	font-family: inherit;
 	font-size: 1rem;
 	font-weight: 700;
 	padding:  1rem;
 	margin-top: 1rem;
 	margin-bottom: .5rem;
 	overflow: hidden;
 }

 .keys-container{
 	position: relative;
 	display: flex;
 	justify-content: center;
 	flex-wrap: wrap;
 	gap: .4rem;
 	width: 100%;
 	height: 70%;
 	background:  var(--tog-keypad-bg);
 	border-radius: .5rem;
 	padding-top: .5rem;
 	padding-bottom: .5rem;
 }

 .key{
 	width: 70px;
 	height:  70px;
 	border-radius: .25rem;
 	color: var(--text1);
 	font-size: 1rem;
 	font-weight: 700;
 	text-transform:  uppercase;
 	background: var(--key-bg2);
 	box-shadow: 0 4px 0 var(--key-shadow2);
 	border: none;
 }

 .key__large{
 	width: 150px;
 }

 .key__blue{
 	background: var(--key-bg);
 	color: var(--text3);
 	box-shadow: 0 4px 0 var(--key-shadow);
 	font-size: .6rem;

 }
 .key__red{
 	background: var(--tog-btn-red-key);
 	color: var(--text2);
 	box-shadow: 0 4px 0 var(--red-key-shadow);
 	font-size: .6rem;
 }

 .key:active{
 	box-shadow: none;
 }

 @media (min-width:500px){
 	body{
 		width: 100%;
 		background: var(--main-bg);
 		justify-content: center;
 		align-items: center;
 		height:  100vh;
 		overflow: hidden;
 	}
 	.calculator{
 		width:  var(--mobileWidth);
 	}

 }