/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root{

	/* Theme 1 colors*/

	--vd-blue-main: hsl(222, 26%, 31%); /*main background*/
	--vd-blue-secondary: hsl(223, 31%, 20%); /*toggle/ keypad / screen background */
	--vdd-blue: hsl(225, 21%, 49%); /*key background*/
	--vdd-blue-secondary: hsl(224, 28%, 35%); /*key shadow*/
	--red: hsl(6, 63%, 50%); /*key background /toggle*/
	--dark-red: hsl(6, 70%, 34%); /*key shadow*/
	--light-gray-orange: hsl(30, 25%, 89%); /*key background*/
	--gray-orange: hsl(28, 16%, 65%); /*key shadow*/
	--vd-gray-blue: hsl(221, 14%, 31%); /*text*/
	--white: hsl(0, 0%, 100%); /*text*/

	/* Theme 2 colors*/

	--light-gray: hsl(0, 0%, 90%); /*main background*/ 
	--gray-red: hsl(0, 5%, 81%); /*toggle/ keypad background*/
	--very-light-gray: hsl(0, 0%, 93%);/* screen background*/
	--dm-cyan: hsl(185, 42%, 37%); /*key background*/
	--vd-cyan: hsl(185, 58%, 25%); /*key shadow*/
	--orange: hsl(25, 98%, 40%); /*key background*/
	--dark-orange: hsl(25, 99%, 27%);/*key shadow*/
	--light-gray-yellow: hsl(45, 7%, 89%); /*key background*/
	--dark-gray-orange: hsl(35, 11%, 61%);/*key shadow*/
	--vd-gray-yellow:  hsl(60, 10%, 19%);/*text*/
	/*white from theme 1*/

	/* Theme 3 colors*/

	--vd-violet: hsl(268, 75%, 9%); /*main background*/
	--vd-violet2: hsl(268, 71%, 12%); /*toggle/ keypad/ screen background*/
	--dark-violet: hsl(281, 89%, 26%); /*key background*/
	--vivid-magenta: hsl(285, 91%, 52%); /*key shadow*/
	--pure-cyan: hsl(176, 100%, 44%); /*key background / toggle*/
	--soft-cyan: hsl(177, 92%, 70%);/*key shadow*/
	--vd-violet3: hsl(268, 47%, 21%);/*key background*/
	--vd-magenta: hsl(290, 70%, 36%);/*key shadow*/
	--light-yellow: hsl(52, 100%, 62%);/*text*/
	--vd-blue: hsl(198, 20%, 13%);/*text*/
	/*white from theme 1*/

}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.attribution{
	display: none;
}

/*Mobile Theme 1*/

body{
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Spartan', sans-serif;
	font-size: 32px;
	margin: 1em;
	background: hsl(199, 16%, 20%);
}

.container{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 1em auto;
	width: 375px;
	height:667px;
	background: var(--vd-blue-main);
	color: var(--white);
}

.header{
	position: relative;
	display: flex;
	width: 100%;
}

.page-header{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	padding: .5em .5em;
}

.theme-setting{
	position: relative;
	
	display: grid;
	width: 200px;
	grid-template-columns: auto auto;
}

.theme-header{
	position:relative;
	grid-column: 1;
	grid-row: 1/2;
	text-transform: uppercase;
	font-size: .6rem;
	letter-spacing: .3rem;
	margin-top: 2em;
}

.choices{
	grid-row: 1;
	display: flex;
	gap: 1em;
	width: 100%;
	margin: 0 2em;
}

.theme-label{
	position: relative;
	display: flex;
	justify-content: flex-end;
	gap: 1em;
	right:0;
	top:1em;
	font-size: .75rem;
}

.toggle{
	grid-column: 2;
	grid-row: 2;
	position:relative;
	display: flex;
	text-transform: uppercase;
	font-size: .75rem;
	background: var(--vd-blue-secondary);
	border-radius: 2em;
	width: 80px;
	height: 30px;
	margin-top: 2em;
	margin-right: 2em;
}


/*.theme-header{
	position:relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	text-transform: uppercase;
	font-size: .6rem;
	letter-spacing: .3rem;
	margin-top: 2em;
}

.toggle{
	position:relative;
	display: flex;
	text-transform: uppercase;
	font-size: .75rem;
	background: var(--vd-blue-secondary);
	border-radius: 2em;
	width: 80px;
	height: 30px;
	margin-top: 2em;
	margin-right: 2em;
}
.theme-radio{
	display:none;
}
.checkmark{
	background: var(--red);
	border-radius: 50%;
	height: 15px;
	width: 15px;
	margin: .6em .5em;
}

.theme-label{
	position: relative;
	display: flex;
	justify-content: flex-end;
	gap: 1em;
	right:0;
	top:1em;
	font-size: .75rem;
}
*/
.screen{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:3em;
	background: var(--vd-blue-secondary); 
	margin: 0 1em;
	border-radius: .3em;
}

.keypad{
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto auto;

	background: var(--vd-blue-secondary);
	width: 100%;
	height: 10em;
	margin: 0 1em;
	border-radius: .3em;
}

.key{
	display: flex;
	width: 50px;
	height: 50px;
	border-radius: .1em;
	padding-top: .6rem;
	padding-left: .8rem;
	margin: auto auto;
	box-shadow: 2px 2px 0 var(--vdd-blue-secondary);
	
}



.t1-key-w{
	color: var(--vd-gray-blue);
	background: var(--white);
}
.t1-key-b{
	color: var(--white);
	background: var(--vdd-blue);
	font-size: .8rem;
	text-transform: uppercase;
}

.t1-reset{
	grid-row: 5;
	grid-column: 1/3;
	color: var(--white);
	background: var(--vdd-blue);
	font-size: .8rem;
	text-transform: uppercase;
}

.t1-equal{
	color: var(--white);
	background: var(--dark-red);
}