/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root{

	/* Theme 1 colors*/

	--vd-blue-main: hsl(222, 26%, 31%); /*main background*/
	--vd-blue-secondary: hsl(223, 31%, 20%); /*toggle/ keypad / screen background */
	--vdd-blue: hsl(225, 21%, 49%); /*key background*/
	--vdd-blue-secondary: hsl(224, 28%, 35%); /*key shadow*/
	--red: hsl(6, 63%, 50%); /*key background /toggle*/
	--dark-red: hsl(6, 70%, 34%); /*key shadow*/
	--light-gray-orange: hsl(30, 25%, 89%); /*key background*/
	--gray-orange: hsl(28, 16%, 65%); /*key shadow*/
	--vd-gray-blue: hsl(221, 14%, 31%); /*text*/
	--white: hsl(0, 0%, 100%); /*text*/

	/* Theme 2 colors*/

	--light-gray: hsl(0, 0%, 90%); /*main background*/ 
	--gray-red: hsl(0, 5%, 81%); /*toggle/ keypad background*/
	--very-light-gray: hsl(0, 0%, 93%);/* screen background*/
	--dm-cyan: hsl(185, 42%, 37%); /*key background*/
	--vd-cyan: hsl(185, 58%, 25%); /*key shadow*/
	--orange: hsl(25, 98%, 40%); /*key background*/
	--dark-orange: hsl(25, 99%, 27%);/*key shadow*/
	--light-gray-yellow: hsl(45, 7%, 89%); /*key background*/
	--dark-gray-orange: hsl(35, 11%, 61%);/*key shadow*/
	--vd-gray-yellow:  hsl(60, 10%, 19%);/*text*/
	/*white from theme 1*/

	/* Theme 3 colors*/

	--vd-violet: hsl(268, 75%, 9%); /*main background*/
	--vd-violet2: hsl(268, 71%, 12%); /*toggle/ keypad/ screen background*/
	--dark-violet: hsl(281, 89%, 26%); /*key background*/
	--vivid-magenta: hsl(285, 91%, 52%); /*key shadow*/
	--pure-cyan: hsl(176, 100%, 44%); /*key background / toggle*/
	--soft-cyan: hsl(177, 92%, 70%);/*key shadow*/
	--vd-violet3: hsl(268, 47%, 21%);/*key background*/
	--vd-magenta: hsl(290, 70%, 36%);/*key shadow*/
	--light-yellow: hsl(52, 100%, 62%);/*text*/
	--vd-blue: hsl(198, 20%, 13%);/*text*/
	/*white from theme 1*/

}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.attribution{
	display: none;
}

button{
	border: none;
	padding: 0;
	margin:  0;
}

/*Mobile Theme 1*/

body{
	position:relative;
	display: block;
	font-family: 'Spartan', sans-serif;
	font-size: 32px;
	margin: 1em;
	background: hsl(199, 16%, 20%);
}

.container{
	position: relative;
	display: grid;
	grid-row-gap: .5em;
	margin: 1em auto;
	width: 375px;
	height:667px;
	background: var(--vd-blue-main);
	color: var(--white);
	padding: 1em;
}

.header{
	position: relative;
	display: flex;
	width: 100%;
}

.page-header{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	padding: .5em .5em;
}

.theme-setting{
	position: relative;
	display: grid;
	justify-content: flex-end;
	grid-template-columns: auto auto;
	margin-left: 2em;
}

.theme-header{
	grid-column: 1;
	grid-row: 2;
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: .1rem;
	align-self: end;
	padding-bottom: 1.5rem;
}

.choices{
	grid-column:2;
	grid-row: 1;
	display: flex;
	gap: 1rem;
	width: 100%;
	margin-left: 2rem;
}

.theme-label{
	font-size: .75rem;
	cursor: pointer;
}

.theme-radio{
	display: none;
}
 .checkmark{
 	height:  17px;
 	width:  18px;
 	border-radius: 50%;
 	background: var(--red);
 	margin: .4rem;
 	opacity: 0;
 }

 #theme1:checked ~ #checkmark1{
 	opacity: 100%;
 }

  #theme2:checked ~ #checkmark2{
 	opacity: 100%;
 }

  #theme3:checked ~ #checkmark3{
 	opacity: 100%;
 }

.toggle{
	grid-column: 2;
	grid-row: 2;
	position:relative;
	display: flex;
	text-transform: uppercase;
	font-size: .75rem;
	background: var(--vd-blue-secondary);
	border-radius: 2em;
	width: 80px;
	height: 30px;
	margin-left: 1rem;
}

.screen{
	position:  relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:3em;
	background: var(--vd-blue-secondary); 
	border-radius: .3em;
}

.keypad{
	position: relative;
	display: grid;
	grid-template-columns: 50px 50px 50px 50px;
	grid-column-gap: 1.4rem;
	grid-row-gap: 1rem;
	background: var(--vd-blue-secondary);
	width: 100%;
	height: 400px;
	padding: 1rem 1rem;
	border-radius: .3em;
}

.key{
	font-family: 'Spartan', sans-serif;
	font-size: 1.5rem;
	display: flex;
	width: 60px;
	height: 60px;
	border-radius: .5rem;
	padding: auto auto;
	box-shadow: 0 3px 0 var(--vdd-blue-secondary);
	position: relative;
}

.key p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
	pointer-events: none;
}
.reset{}

.equals{}

.t1-key-w{
	color: var(--vd-gray-blue);
	background: var(--white);
	
}
.t1-key-b{
	color: var(--white);
	background: var(--vdd-blue);
	font-size: .8rem;
	text-transform: uppercase;
	padding-left: 1rem;
	padding-top: 1.4rem;
}

.t1-reset{
	font-family: 'Spartan', sans-serif;
	font-size: 1rem;
	grid-column: 1 / 2;
	width: 130px;
	height: 50px;
	color: var(--white);
	background: var(--vdd-blue);
	font-size: .8rem;
	text-transform: uppercase;
	border-radius: .3rem;
	padding: 1.2rem 2.6rem;
}

.t1-equals{
	font-family: 'Spartan', sans-serif;
	font-size: 1.5rem;
	grid-column: 3 / 4;
	width: 130px;
	height: 50px;
	color: var(--white);
	background: var(--dark-red);
	border-radius: .3rem;
	padding: .8rem 3.3rem;
}

.key:active{
	background: yellow;
}